.travel-methods {
    padding-top: 50px;
}

.address-form {
    align:center;
    padding-top: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
